@import 'variables';

//MASTER ISO

body {

  margin: 0;
  padding: 0;

  background-color: #f7f7f7;
  font-family: $font-stack;

  display: flex;
  overflow: hidden;

  & > * {
    height: 100vh;
    flex: 1;
  }

  @include breakpoint(baby-bear) {
    flex-direction: column;
    & > * {
      height: 50vh;
    }
  }
  @include breakpoint(mama-bear) {
    flex-direction: column;
    & > * {
      height: 50vh;
    }
  }

}

@import 'left';
@import 'right';
