$font-stack: AvenirNextBold,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

$base-font-size: 16px;
$base-line-height: $base-font-size * 1.5;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin breakpoint($point) {
  @if $point == grandpa-bear {
    @media (max-width: 1200px) { @content; }
  }
  @if $point == papa-bear {
    @media (max-width: 1080px) { @content; }
  }
  @if $point == mama-bear {
    @media (max-width: 800px) { @content; }
  }
  @if $point == baby-bear {
    @media (max-width: 480px) { @content; }
  }
  @if $point == mama-bear-above {
    @media (min-width: 801px) { @content; }
  }
}

.hide-below-mb {
  @include breakpoint(mama-bear) {display: none;}
}
.hide-above-mb {
  @include breakpoint(mama-bear-above) {display: none;}
}

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mt-3 {margin-top: 46px;}
